#  Popular genres with right join

##  Assignment 

What are the genres of the most popular movies? To answer this question, you need to merge data from the `movies` and `movie_to_genres` tables. In a table called `pop_movies`, the top 10 most popular movies in the `movies` table have been selected. To ensure that you are analyzing all of the popular movies, merge it with the `movie_to_genres` table using a right join. To complete your analysis, count the number of different genres. Also, the two tables can be merged by the movie ID. However, in `pop_movies` that column is called `id`, and in `movies_to_genres` it's called `movie_id`.

The `pop_movies` and `movie_to_genres` tables have been loaded for you.

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd
import matplotlib.pyplot as plt

fn_mov = 'https://assets.datacamp.com/production/repositories/5486/datasets/81f8f3290520b0a9bdc6d77deaac87a9d298de46/movies.p'
fn_m2g = 'https://assets.datacamp.com/production/repositories/5486/datasets/a2963ed7eaefdc5ca0ed74fb6520c7588d57bfd5/movie_to_genres.p'

movies = load(urllib.request.urlopen(fn_mov))
movie_to_genres = load(urllib.request.urlopen(fn_m2g))

pop_movies = movies.sort_values('popularity', ascending=False).head(10)
```



##  Instructions 

- Merge `movie_to_genres` and `pop_movies` using a right join. Save the results as `genres_movies`.
- Group `genres_movies` by `genre` and count the number of `id` values.

In [51]:
from pickle import load
import urllib.request
import pandas as pd
import matplotlib.pyplot as plt

In [52]:
fn_mov = 'https://assets.datacamp.com/production/repositories/5486/datasets/81f8f3290520b0a9bdc6d77deaac87a9d298de46/movies.p'
fn_m2g = 'https://assets.datacamp.com/production/repositories/5486/datasets/a2963ed7eaefdc5ca0ed74fb6520c7588d57bfd5/movie_to_genres.p'

In [53]:
movies = load(urllib.request.urlopen(fn_mov))
movie_to_genres = load(urllib.request.urlopen(fn_m2g))

In [54]:
pop_movies = movies.sort_values('popularity', ascending=False).head(10)

In [56]:
print(movies.head(1))
print(movie_to_genres.head(1))
print(pop_movies.head(1))

    id         title  popularity release_date
0  257  Oliver Twist   20.415572   2005-09-23
   movie_id  genre
0         5  Crime
          id    title  popularity release_date
4546  211672  Minions  875.581305   2015-06-17

In [58]:
genres_movies = movie_to_genres.merge(pop_movies, left_on="movie_id", right_on="id", how="right")

In [59]:
genres_movies.head()

   movie_id      genre      id         title  popularity release_date
0    211672     Comedy  211672       Minions  875.581305   2015-06-17
1    211672  Adventure  211672       Minions  875.581305   2015-06-17
2    211672  Animation  211672       Minions  875.581305   2015-06-17
3    211672     Family  211672       Minions  875.581305   2015-06-17
4    157336      Drama  157336  Interstellar  724.247784   2014-11-05

In [60]:
genres_movies.groupby("genre").agg({'id':'count'})

                 id
genre
Action            7
Adventure         9
Animation         2
Comedy            3
Drama             2
Family            2
Fantasy           1
Science Fiction   6
Thriller          4