
#  Self join

##  Assignment 

Merging&nbsp;a table to itself can be useful when you want to compare values in a column to other values in the same column. In this exercise, you will practice this by creating a table that for each movie will list the movie director and a member of the crew on one row. You have been given a table called `crews`, which has columns `id`, `job`, and `name`. First, merge the table to itself using the movie ID. This merge will give you a larger table where for each movie, every job is matched against each other. Then select only those rows with a director in the left table, and avoid having a row where the director's job is listed in both the left and right tables. This filtering will remove job combinations that aren't with the director.  

The `crews` table has been loaded for you.

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_cre = 'https://assets.datacamp.com/production/repositories/5486/datasets/ff485ad46337574df2e4c363b31fbfdc9713541d/crews.p'

crews = load(urllib.request.urlopen(fn_cre))
crews = crews[['id','job','name']]
```

In [73]:
from pickle import load
import urllib.request
import pandas as pd

In [74]:
crews = pd.read_pickle("crews.p")

In [75]:
crews = crews[['id','job','name']]

In [77]:
crews.head(1)

      id     job               name
0  19995  Editor  Stephen E. Rivkin

##  Instructions 

- To a variable called `crews_self_merged`, merge the `crews` table to itself on the `id` column using an inner join, setting the suffixes to `'_dir'` and `'_crew'` for the left and right tables respectively.

In [78]:
crews_self_merged = crews.merge(crews, on="id", suffixes=["_dir", "_crew"])

In [80]:
crews_self_merged.head()

      id job_dir           name_dir        job_crew          name_crew
0  19995  Editor  Stephen E. Rivkin          Editor  Stephen E. Rivkin
1  19995  Editor  Stephen E. Rivkin  Sound Designer  Christopher Boyes
2  19995  Editor  Stephen E. Rivkin         Casting          Mali Finn
3  19995  Editor  Stephen E. Rivkin        Director      James Cameron
4  19995  Editor  Stephen E. Rivkin          Writer      James Cameron

- Create a Boolean index, named `boolean_filter`, that selects rows from the left table with the **job** of `'Director'` and avoids rows with the **job** of `'Director'` in the right table.

In [81]:
boolean_filter = (crews_self_merged["job_dir"] == "Director") & (crews_self_merged["job_crew"] != "Director")

- Use the `.head()` method to print the first few rows of `direct_crews`.

In [82]:
crews_self_merged[boolean_filter].head()

        id   job_dir       name_dir        job_crew          name_crew
156  19995  Director  James Cameron          Editor  Stephen E. Rivkin
157  19995  Director  James Cameron  Sound Designer  Christopher Boyes
158  19995  Director  James Cameron         Casting          Mali Finn
160  19995  Director  James Cameron          Writer      James Cameron
161  19995  Director  James Cameron    Set Designer    Richard F. Mays