#  Using outer join to select actors

##  Assignment 

One cool aspect of using an outer join is that, because it returns all rows from both merged tables and null where they do not match, you can use it to find rows that do not have a match in the other table. To try for yourself, you have been given two tables with a list of actors from two popular movies: **Iron Man 1** and **Iron Man 2**. Most of the actors played in both movies. Use an outer join to find actors who ****did not**** act in both movies.

The **Iron Man 1** table is called `iron_1_actors`, and **Iron Man 2** table is called `iron_2_actors`. Both tables have been loaded for you and a few rows printed so you can see the structure.

<img src="https://assets.datacamp.com/production/repositories/5486/datasets/c5d02ebba511e90ae132f89ff091e6729c040bd2/noJoin.png" alt="Venn graph with no overlap">

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_cst = 'https://assets.datacamp.com/production/repositories/5486/datasets/64dc93487604f68a9d51db160d888f3904c68da0/casts.p'
casts = load(urllib.request.urlopen(fn_cst))

# Subset the columns
c = ['character','id','name']
iron_1_actors = casts.loc[casts['movie_id'] == 1726, c]
iron_2_actors = casts.loc[casts['movie_id'] == 10138, c]
del casts

# Shorten the name for War Machine for better formatting
iron_1_actors.loc[(iron_1_actors['id'] == 18288), 'character'] = 'War Machine'

# Print the first few rows
print("iron_1_actors #########")
print(iron_1_actors.head(2))
print("")
print("iron_2_actors #########")
print(iron_2_actors.head(2))
```



##  Instructions 

- Save to `iron_1_and_2` the merge of `iron_1_actors` (left) with `iron_2_actors` tables with an outer join on the `id` column, and set suffixes to `('_1','_2')`.
- Create an index that returns `True` if `name_1` or `name_2` are null, and `False` otherwise.

In [61]:
from pickle import load
import urllib.request
import pandas as pd

In [63]:
casts = pd.read_pickle("casts.p")

In [64]:
# Subset the columns
c = ['character','id','name']
iron_1_actors = casts.loc[casts['movie_id'] == 1726, c]
iron_2_actors = casts.loc[casts['movie_id'] == 10138, c]
del casts

In [65]:
# Shorten the name for War Machine for better formatting
iron_1_actors.loc[(iron_1_actors['id'] == 18288), 'character'] = 'War Machine'

In [66]:
# Print the first few rows
print("iron_1_actors #########")
print(iron_1_actors.head(2))
print("")
print("iron_2_actors #########")
print(iron_2_actors.head(2))

iron_1_actors #########
                 character     id             name
3                   Yinsen  17857       Shaun Toub
4  Virginia "Pepper" Potts  12052  Gwyneth Paltrow

iron_2_actors #########
                                          character    id                name
4                             Ivan Vanko / Whiplash  2295       Mickey Rourke
3  Natalie Rushman / Natasha Romanoff / Black Widow  1245  Scarlett Johansson

In [67]:
iron_1_and_2 = iron_1_actors.merge(iron_2_actors, on="id", how="outer", suffixes=["_1", "_2"])

In [68]:
iron_1_and_2.head()

,character_1,id,name_1,character_2,name_2
0,Obadiah Stane / Iron Monger,1229,Jeff Bridges,NaN,NaN
1,NaN,1245,NaN,Natalie Rushman / Natasha Romanoff / Black Widow,Scarlett Johansson
2,NaN,1896,NaN,"Lt. Col. James ""Rhodey"" Rhodes / War Machine",Don Cheadle
3,Director Nick Fury,2231,Samuel L. Jackson,Director Nick Fury,Samuel L. Jackson
4,NaN,2295,NaN,Ivan Vanko / Whiplash,Mickey Rourke

In [71]:
iron_1_and_2.shape

(191, 5)

In [69]:
m = ((iron_1_and_2['name_1'].isnull()) | 
     (iron_1_and_2['name_2'].isnull()))

In [70]:
iron_1_and_2[m].head()

,character_1,id,name_1,character_2,name_2
0,Obadiah Stane / Iron Monger,1229,Jeff Bridges,NaN,NaN
1,NaN,1245,NaN,Natalie Rushman / Natasha Romanoff / Black Widow,Scarlett Johansson
2,NaN,1896,NaN,"Lt. Col. James ""Rhodey"" Rhodes / War Machine",Don Cheadle
4,NaN,2295,NaN,Ivan Vanko / Whiplash,Mickey Rourke
7,NaN,6807,NaN,Justin Hammer,Sam Rockwell

In [72]:
iron_1_and_2[m].shape

(180, 5)