#  Enriching a dataset

##  Assignment 

Setting `how='left'` with the `.merge()`method is a useful technique for enriching or enhancing a dataset with additional information from a different table. In this exercise, you will start off with a sample of movie data from the movie series **Toy Story**. Your goal is to enrich this data by adding the marketing tag line for each movie. You will compare the results of a left join versus an inner join.

The `toy_story` DataFrame contains the **Toy Story** movies. The `toy_story` and `taglines` DataFrames have been loaded for you.

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_mov = 'https://assets.datacamp.com/production/repositories/5486/datasets/81f8f3290520b0a9bdc6d77deaac87a9d298de46/movies.p'
fn_tag = 'https://assets.datacamp.com/production/repositories/5486/datasets/f8931478a29a0b3caea914d08cc4a8689b9a0663/taglines.p'

toy_story = load(urllib.request.urlopen(fn_mov))
toy_story = toy_story[toy_story['title'].str.contains('Toy Story')] \
			.reset_index(drop=True)
taglines = load(urllib.request.urlopen(fn_tag))
```

In [1]:
from pickle import load
import urllib.request
import pandas as pd

In [2]:
fn_mov = 'https://assets.datacamp.com/production/repositories/5486/datasets/81f8f3290520b0a9bdc6d77deaac87a9d298de46/movies.p'
fn_tag = 'https://assets.datacamp.com/production/repositories/5486/datasets/f8931478a29a0b3caea914d08cc4a8689b9a0663/taglines.p'

In [5]:
toy_story = load(urllib.request.urlopen(fn_mov))
toy_story = toy_story[toy_story['title'].str.contains('Toy Story')].reset_index(drop=True)
# taglines = load(urllib.request.urlopen(fn_tag))
taglines = pd.read_pickle("taglines.p")

In [6]:
toy_story.head(1)

      id        title  popularity release_date
0  10193  Toy Story 3   59.995418   2010-06-16

In [7]:
taglines.head(1)

      id                      tagline
0  19995  Enter the World of Pandora.

##  Instructions 

- Merge `toy_story` and `taglines` on the `id` column with a **left join**, and save the result as `toystory_tag`.

In [9]:
toystory_tag = toy_story.merge(taglines, on="id", how="left")

In [11]:
print(toystory_tag.head())
print(toystory_tag.shape)

      id        title  popularity release_date                   tagline
0  10193  Toy Story 3   59.995418   2010-06-16  No toy gets left behind.
1    863  Toy Story 2   73.575118   1999-10-30        The toys are back!
2    862    Toy Story   73.640445   1995-10-30                       NaN
(3, 5)

- With `toy_story` as the left table, merge to it `taglines` on the `id` column with an **inner join**, and save as `toystory_tag`.

In [12]:
ts_tag = toy_story.merge(taglines, on="id")

In [13]:
print(ts_tag.head())
print(ts_tag.shape)

      id        title  popularity release_date                   tagline
0  10193  Toy Story 3   59.995418   2010-06-16  No toy gets left behind.
1    863  Toy Story 2   73.575118   1999-10-30        The toys are back!
(2, 5)