
#  Index merge for movie ratings

##  Assignment 

To practice merging on indexes, you will merge `movies` and a table called `ratings` that holds info about movie ratings. Make sure your merge returns **all** of the rows from the `movies` table and not all the rows of `ratings` table need to be included in the result.

The `movies` and `ratings` tables have been loaded for you.

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_mov = 'https://assets.datacamp.com/production/repositories/5486/datasets/81f8f3290520b0a9bdc6d77deaac87a9d298de46/movies.p'
fn_rat = 'https://assets.datacamp.com/production/repositories/5486/datasets/142036e646e9e9fa21bbae386df6cf65d71ace05/ratings.p'

movies = load(urllib.request.urlopen(fn_mov))
movies = movies.set_index('id')
ratings = load(urllib.request.urlopen(fn_rat))
ratings = ratings.set_index('id')
```



##  Instructions 

- Merge `movies` and `ratings` on the index and save to a variable called `movies_ratings`, ensuring that all of the rows from the `movies` table are returned.

In [83]:
from pickle import load
import urllib.request
import pandas as pd

In [84]:
fn_mov = 'https://assets.datacamp.com/production/repositories/5486/datasets/81f8f3290520b0a9bdc6d77deaac87a9d298de46/movies.p'
fn_rat = 'https://assets.datacamp.com/production/repositories/5486/datasets/142036e646e9e9fa21bbae386df6cf65d71ace05/ratings.p'

In [85]:
movies = load(urllib.request.urlopen(fn_mov))
movies = movies.set_index('id')
ratings = load(urllib.request.urlopen(fn_rat))
ratings = ratings.set_index('id')

In [86]:
movies.head(1)

            title  popularity release_date
id
257  Oliver Twist   20.415572   2005-09-23

In [87]:
ratings.head(1)

       vote_average  vote_count
id
19995           7.2     11800.0

In [88]:
movies_ratings = movies.merge(ratings, on="id")

In [89]:
movies_ratings.head()

                      title  popularity release_date  vote_average  vote_count
id
257            Oliver Twist   20.415572   2005-09-23           6.7       274.0
14290  Better Luck Tomorrow    3.877036   2002-01-12           6.5        27.0
38365             Grown Ups   38.864027   2010-06-24           6.0      1705.0
9672               Infamous    3.680896   2006-11-16           6.4        60.0
12819       Alpha and Omega   12.300789   2010-09-17           5.3       124.0

In [90]:
print(movies.shape)
print(movies_ratings.shape)

(4803, 3)
(4803, 5)