#  Removing missing values

##  Assignment 

Now that you know there are some missing values in your DataFrame, you have a few options to deal with them. One way is to remove them from the dataset completely. In this exercise, you'll remove missing values by removing all rows that contain missing values.

`pandas` has been imported as `pd` and `avocados_2016` is available.

##  Pre exercise code 

```
import pandas as pd
avocados_2016 = pd.read_pickle("/usr/local/share/datasets/avos_2016.pkl")
```



##  Instructions 

- Remove the rows of `avocados_2016` that contain missing values and store the remaining rows in `avocados_complete`.
- Verify that all missing values have been removed from `avocados_complete`. Calculate each column that has NAs and print.

In [16]:
import pandas as pd

In [17]:
avos = pd.read_csv("avos.csv")

In [18]:
avos.head()

   Unnamed: 0        date          type    year  avg_price   size     nb_sold
0           0  12/27/2015  conventional  2015.0       0.95  small  9626901.09
1           1  12/20/2015  conventional  2015.0       0.98  small  8710021.76
2           2  12/13/2015  conventional  2015.0       0.93  small  9855053.66
3           3   12/6/2015  conventional  2015.0       0.89  small  9405464.36
4           4  11/29/2015  conventional  2015.0       0.99  small  8094803.56

In [19]:
avos_complete = avos.dropna()

In [20]:
avos_complete.isna().any()

Unnamed: 0    False
date          False
type          False
year          False
avg_price     False
size          False
nb_sold       False
dtype: bool

In [21]:
avos_complete.isna().sum()

Unnamed: 0    0
date          0
type          0
year          0
avg_price     0
size          0
nb_sold       0
dtype: int64