#  DataFrame to CSV

##  Assignment 

You're almost there! To make things easier to read, you'll need to sort the data and export it to CSV so that your colleagues can read it.

##  Pre exercise code 

```
from urllib.request import urlretrieve
url = "https://assets.datacamp.com/production/repositories/5386/datasets/e0bbcc236b192efe5814c379d8c669157311acc5/airline_bumping.csv"
urlretrieve(url, "airline_bumping.csv")

import pandas as pd

airline_bumping = pd.read_csv("airline_bumping.csv")
airline_totals = airline_bumping.groupby("airline")[["airline", "nb_bumped", "total_passengers"]].sum()
airline_totals["bumps_per_10k"] = airline_totals["nb_bumped"] / airline_totals["total_passengers"] * 10000
```



##  Instructions 

- Sort `airline_totals` by the values of `bumps_per_10k` from highest to lowest, storing as `airline_totals_sorted`.
- Print your sorted DataFrame.
- Save the sorted DataFrame as a CSV called `"airline_totals_sorted.csv"`.

In [2]:
import pandas as pd

In [3]:
airline_bumping = pd.read_csv("airline_bumping.csv")

In [4]:
airline_totals = airline_bumping.groupby("airline")[["airline", "nb_bumped", "total_passengers"]].sum()

In [5]:
airline_totals["bumps_per_10k"] = airline_totals["nb_bumped"] / airline_totals["total_passengers"] * 10000

In [6]:
airline_totals_sorted = airline_totals.sort_values("bumps_per_10k", ascending=False)

In [7]:
airline_totals_sorted

,airline,nb_bumped,total_passengers,bumps_per_10k
airline,,,,
EXPRESSJET AIRLINES,EXPRESSJET AIRLINESEXPRESSJET AIRLINES,3326,27858678,1.193883
SPIRIT AIRLINES,SPIRIT AIRLINESSPIRIT AIRLINES,2920,32304571,0.903897
SOUTHWEST AIRLINES,SOUTHWEST AIRLINESSOUTHWEST AIRLINES,18585,228142036,0.814624
JETBLUE AIRWAYS,JETBLUE AIRWAYSJETBLUE AIRWAYS,3615,53245866,0.678926
SKYWEST AIRLINES,SKYWEST AIRLINESSKYWEST AIRLINES,3094,47091737,0.657015
AMERICAN AIRLINES,AMERICAN AIRLINESAMERICAN AIRLINES,11115,197365225,0.563169
FRONTIER AIRLINES,FRONTIER AIRLINESFRONTIER AIRLINES,1228,22954995,0.534960
ALASKA AIRLINES,ALASKA AIRLINESALASKA AIRLINES,1392,36543121,0.380920
UNITED AIRLINES,UNITED AIRLINESUNITED AIRLINES,4941,134468897,0.367446
VIRGIN AMERICA,VIRGIN AMERICAVIRGIN AMERICA,242,12017967,0.201365
DELTA AIR LINES,DELTA AIR LINESDELTA AIR LINES,1591,197033215,0.080748
HAWAIIAN AIRLINES,HAWAIIAN AIRLINESHAWAIIAN AIRLINES,122,16577572,0.073593

In [8]:
airline_totals_sorted.to_csv("airline_totals_sorted.csv")