#  CSV to DataFrame

##  Assignment 

You work for an airline, and your manager has asked you to do a competitive analysis and see how often passengers flying on other airlines are involuntarily bumped from their flights.
You got a CSV file (`airline_bumping.csv`) from the Department of Transportation containing data on passengers that were involuntarily denied boarding in 2016 and 2017, but it doesn't have the exact numbers you want. In order to figure this out, you'll need to get the CSV into a pandas DataFrame and do some manipulation!

`pandas` is imported for you as `pd`. `"airline_bumping.csv"` is in your working directory.

##  Pre exercise code 

```
from urllib.request import urlretrieve
url = "https://assets.datacamp.com/production/repositories/5386/datasets/e0bbcc236b192efe5814c379d8c669157311acc5/airline_bumping.csv"
urlretrieve(url, "airline_bumping.csv")

import pandas as pd
```

In [1]:
from urllib.request import urlretrieve

In [2]:
url = "https://assets.datacamp.com/production/repositories/5386/datasets/e0bbcc236b192efe5814c379d8c669157311acc5/airline_bumping.csv"
urlretrieve(url, "airline_bumping.csv")

('airline_bumping.csv', <http.client.HTTPMessage at 0x295b0e84210>)

In [3]:
import pandas as pd

##  Instructions 

- Read the CSV file `"airline_bumping.csv"` and store it as a DataFrame called `airline_bumping`.
- Print the first few rows of `airline_bumping`.



```
# Read CSV as DataFrame called airline_bumping
airline_bumping = ____

# Take a look at the DataFrame
print(____)
```

In [13]:
airline_bumping = pd.read_csv("airline_bumping.csv")

In [14]:
airline_bumping.head()

             airline  year  nb_bumped  total_passengers
0    DELTA AIR LINES  2017        679          99796155
1     VIRGIN AMERICA  2017        165           6090029
2    JETBLUE AIRWAYS  2017       1475          27255038
3    UNITED AIRLINES  2017       2067          70030765
4  HAWAIIAN AIRLINES  2017         92           8422734

##  Instructions 

- For each airline group, select the `nb_bumped`, and `total_passengers` columns, and calculate the sum (for both years). Store this as `airline_totals`.

In [15]:
airline_totals = airline_bumping.groupby("airline")[["nb_bumped", "total_passengers"]].sum()

In [16]:
airline_totals

                     nb_bumped  total_passengers
airline
ALASKA AIRLINES           1392          36543121
AMERICAN AIRLINES        11115         197365225
DELTA AIR LINES           1591         197033215
EXPRESSJET AIRLINES       3326          27858678
FRONTIER AIRLINES         1228          22954995
HAWAIIAN AIRLINES          122          16577572
JETBLUE AIRWAYS           3615          53245866
SKYWEST AIRLINES          3094          47091737
SOUTHWEST AIRLINES       18585         228142036
SPIRIT AIRLINES           2920          32304571
UNITED AIRLINES           4941         134468897
VIRGIN AMERICA             242          12017967

##  Instructions 

- Create a new column of `airline_totals` called `bumps_per_10k`, which is the number of passengers bumped per 10,000 passengers in 2016 and 2017.

In [17]:
airline_totals["bumps_per_10k"] = airline_totals["nb_bumped"] / airline_totals["total_passengers"] * 10000

In [19]:
airline_totals.head()

                     nb_bumped  total_passengers  bumps_per_10k
airline
ALASKA AIRLINES           1392          36543121       0.380920
AMERICAN AIRLINES        11115         197365225       0.563169
DELTA AIR LINES           1591         197033215       0.080748
EXPRESSJET AIRLINES       3326          27858678       1.193883
FRONTIER AIRLINES         1228          22954995       0.534960