
#  Concatenate and merge to find common songs

##  Assignment 

The senior leadership of the streaming service is requesting your help again. You are given the historical files for a popular playlist in the classical music genre in 2018 and 2019. Additionally, you are given a similar set of files for the most popular pop music genre playlist on the streaming service in 2018 and 2019. Your goal is to concatenate the respective files to make a large classical playlist table and overall popular music table. Then filter the classical music table using a semi join to return only the most popular classical music tracks.

The tables `classic_18`, `classic_19`, and `pop_18`, `pop_19` have been loaded for you. Additionally, `pandas` has been loaded as `pd`.

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_c18 = 'https://assets.datacamp.com/production/repositories/5486/datasets/6f64d9a63c405f8b418cfb529e0e686f5cc7c12c/classic_18.p'
fn_c19 = 'https://assets.datacamp.com/production/repositories/5486/datasets/bac910dd0e9e5c7664f39a0e0f470171cc6a351f/classic_19.p'
fn_p18 = 'https://assets.datacamp.com/production/repositories/5486/datasets/f2c0ff773907eaa017a933a50d1800c6ea9bb1a7/pop_18.p'
fn_p19 = 'https://assets.datacamp.com/production/repositories/5486/datasets/a76340497309eb6cfcbaf388a09509d393b8263f/pop_19.p'

classic_18 = load(urllib.request.urlopen(fn_c18))
classic_19 = load(urllib.request.urlopen(fn_c19))
pop_18 = load(urllib.request.urlopen(fn_p18))
pop_19 = load(urllib.request.urlopen(fn_p19))
```

In [69]:
from pickle import load
import urllib.request
import pandas as pd

In [72]:
classic_18 = pd.read_pickle("classic_18.p")
classic_19 = pd.read_pickle("classic_19.p")
pop_18 = pd.read_pickle("pop_18.p")
pop_19 = pd.read_pickle("pop_19.p")

In [73]:
print(classic_18.head(1))
print(classic_19.head(1))
print(pop_18.head(1))
print(pop_19.head(1))

      pid   tid
8527   12  3483
      pid   tid
8526   12  3482
      pid   tid
3150    1  3063
      pid   tid
2639    1  2115

##  Instructions 

- Concatenate the `classic_18` and `classic_19` tables vertically where the index goes from 0 to n-1, and save to `classic_18_19`.
- Concatenate the `pop_18` and `pop_19` tables vertically where the index goes from 0 to n-1, and save to `pop_18_19`.

In [74]:
classic_18_19 = pd.concat([classic_18, classic_19], ignore_index=True)

In [75]:
pop_18_19 = pd.concat([pop_18, pop_19], ignore_index=True)

- With `classic_18_19` on the left, merge it with `pop_18_19` on `tid` using an inner join.
- Use `.isin()` to filter `classic_18_19` where `tid` is in `classic_pop`.

In [76]:
classic_pop = classic_18_19.merge(pop_18_19, on="tid")

In [77]:
classic_18_19[classic_18_19["tid"].isin(classic_pop["tid"])]

    pid   tid
3    12  3479
10   12  3439
21   12  3445
23   12  3449
48   12  3437
50   12  3435