
#  Checking for class imbalance


##  Assignment 

The [2022 Kaggle Survey](https://www.kaggle.com/kaggle-survey-2022) captures information about data scientists' backgrounds, preferred technologies, and techniques. It is seen as an accurate view of what is happening in data science based on the volume and profile of responders. 

Having looked at the job titles and categorized to align with our `salaries` DataFrame, you can see the following proportion of job categories in the Kaggle survey:

|Job Category|Relative Frequency
|------
|Data Science|0.281236
|Data Analytics|0.224231
|Other|0.214609
|Managerial|0.121300
|Machine Learning|0.083248
|Data Engineering|0.075375

Thinking of the Kaggle survey results as the population, your task is to find out whether the `salaries` DataFrame is representative by comparing the relative frequency of job categories.

##  Pre exercise code 

```
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

salaries = pd.read_csv("https://assets.datacamp.com/production/repositories/6180/datasets/2f2f461c101d4f7641ce93e6395da12bec531e3e/ds_salaries_4.1.csv")
```



##  Instructions 

- Print the relative frequency of the `"Job_Category"` column from `salaries` DataFrame.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

salaries = pd.read_csv("ds_salaries_clean.csv")

In [5]:
salaries.head(1)

,Working_Year,Designation,Experience,Employment_Status,Employee_Location,Company_Size,Remote_Working_Ratio,Salary_USD
0,2020,Data Scientist,Mid,FT,DE,L,0,76227.0

In [14]:
pd.DataFrame(salaries['Designation'].value_counts(normalize=True)).head()

                           proportion
Designation
Data Scientist               0.235585
Data Engineer                0.217463
Data Analyst                 0.159802
Machine Learning Engineer    0.067545
Research Scientist           0.026359