#  Calculations with .groupby()

##  Assignment 

The `.groupby()` method makes life much easier. In this exercise, you'll perform the same calculations as last time, except you'll use the `.groupby()` method. You'll also perform calculations on data grouped by two variables to see if sales differ by store type depending on if it's a holiday week or not.

In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv("sales.csv")

In [3]:
sales.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

##  Instructions 

- Group `sales` by `"type"`, take the sum of `"weekly_sales"`, and store as `sales_by_type`.
- Calculate the proportion of sales at each store type by dividing by the sum of `sales_by_type`. Assign to `sales_propn_by_type`.

In [4]:
sales.groupby("type")["weekly_sales"].sum()

type
A    2.337163e+08
B    2.317840e+07
Name: weekly_sales, dtype: float64

In [5]:
sales.groupby("type")["weekly_sales"].sum() / sales["weekly_sales"].sum()

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64

In [6]:
sum_types = sales.groupby("type")["weekly_sales"].sum()

In [7]:
sum_types / sum(sum_types)

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64

- Group `sales` by `"type"` and "`is_holiday`", take the sum of `weekly_sales`, and store as `sales_by_type_is_holiday`.

In [8]:
sales_by_type_is_holiday = sales.groupby(["type", "is_holiday"])["weekly_sales"].sum()

In [9]:
sales_by_type_is_holiday

type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64