#  What percent of sales occurred at each store type?

##  Assignment 

While `.groupby()` is useful, you can calculate grouped summary statistics without it. 

Walmart distinguishes three types of stores: "supercenters," "discount stores," and "neighborhood markets," encoded in this dataset as type "A," "B," and "C." In this exercise, you'll calculate the total sales made at each store type, without using `.groupby()`. You can then use these numbers to see what proportion of Walmart's total sales were made at each type.


##  Instructions 

- Calculate the total `weekly_sales` over the whole dataset.
- Subset for `type` `"A"` stores, and calculate their total weekly sales.
- Do the same for `type` `"B"` and `type` `"C"` stores.
- Combine the A/B/C results into a list, and divide by `sales_all` to get the proportion of sales by type.

In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv("sales.csv")

In [3]:
sales.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [9]:
sales_all = sales["weekly_sales"].sum()

In [10]:
sales_all

256894718.89999998

In [11]:
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

In [12]:
sales_A

233716315.01

In [13]:
sales_B = sales[sales["type"] == "B"]["weekly_sales"].sum()

In [14]:
sales_B

23178403.89

In [15]:
sales_C = sales[sales["type"] == "C"]["weekly_sales"].sum()

In [16]:
sales_C

0.0

In [17]:
prop_list = [sales_A, sales_B, sales_C] / sales_all

In [19]:
print(prop_list)

[0.9097747 0.0902253 0.       ]