
#  Imputing missing plane prices

##  Assignment 

Now there's just one column with missing values left!

You've removed the `"Additional_Info"` column from `planes`&mdash;the last step is to impute the missing data in the `"Price"` column of the dataset.

As a reminder, you generated this boxplot, which suggested that imputing the median price based on the `"Airline"` is a solid approach!

<img src="https://assets.datacamp.com/production/repositories/6180/datasets/6fcf987858997fd0e36d1846669923fe7925fe24/plane_prices_by_airline_boxplot_v3.jpg" alt="Box plot of plane ticket prices by Airline">

##  Pre exercise code 

```
import pandas as pd

planes = pd.read_csv("https://assets.datacamp.com/production/repositories/6180/datasets/65bb8594cc06715617673622b9d694772ed8b31f/planes.csv")
threshold = len(planes) * 0.05
cols_to_drop = planes.columns[planes.isna().sum() <= threshold]
planes.dropna(subset=cols_to_drop, inplace=True)
planes.drop(columns=["Additional_Info"], inplace=True)
```

In [24]:
import pandas as pd

planes = pd.read_csv("planes.csv")
threshold = len(planes) * 0.05
cols_to_drop = planes.columns[planes.isna().sum() <= threshold]
planes.dropna(subset=cols_to_drop, inplace=True)
planes.drop(columns=["Additional_Info"], inplace=True)

In [27]:
planes.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,13882.0

##  Instructions 

- Group `planes` by airline and calculate the median price.

In [33]:
med_price = planes.groupby('Airline')['Price'].median()

- Convert the grouped median prices to a dictionary.

In [34]:
med_price = med_price.to_dict()

In [35]:
med_price

{'Air Asia': 5192.0,
 'Air India': 9443.0,
 'GoAir': 5003.5,
 'IndiGo': 5054.0,
 'Jet Airways': 11507.0,
 'Multiple carriers': 10197.0,
 'SpiceJet': 3873.0,
 'Vistara': 8028.0}

- Conditionally impute missing values for `"Price"` by mapping values in the `"Airline column"` based on `prices_dict`.
- Check for remaining missing values.

In [36]:
planes['Price'] = planes['Price'].fillna(planes['Airline'].map(med_price))

In [37]:
planes.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,13302.0
3,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,3873.0
4,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,11087.0

In [39]:
planes['Price'].isna().sum()

0