
#  Flight duration categories

##  Assignment 

As you saw, there are 362 unique values in the `"Duration"` column of `planes`. Calling `planes["Duration"].head()`, we see the following values:

```
0        19h
1     5h 25m
2     4h 45m
3     2h 25m
4    15h 30m
Name: Duration, dtype: object

```

Looks like this won't be simple to convert to numbers. However, you could categorize flights by duration and examine the frequency of different flight lengths! 

You'll create a `"Duration_Category"` column in the `planes` DataFrame. Before you can do this you'll need to create a list of the values you would like to insert into the DataFrame, followed by the existing values that these should be created from.

##  Pre exercise code 

```
import pandas as pd
planes = pd.read_csv("https://assets.datacamp.com/production/repositories/6180/datasets/95900664a952fb60b2dd7ea0499ad3e0e20a62f0/planes_end_ex_2.4.csv")
```

In [51]:
import pandas as pd
planes = pd.read_csv("planes_ex.csv")

##  Instructions 

- Create a list of categories containing `"Short-haul"`, `"Medium"`, and `"Long-haul"`.

In [52]:
duration_category = ['Short_haul', 'Medium', 'Long_haul']

- Create `short_flights`, a string to capture values of `"0h"`, `"1h"`, `"2h"`, `"3h"`, or `"4h"` taking care to avoid values such as `"10h"`.
- Create `medium_flights` to capture any values between five and nine hours.
- Create `long_flights` to capture any values from 10 hours to 16 hours inclusive.

In [53]:
short_flights = "^0h|^1h|^2h|^3h|^4h"
medium_flights = "^5h|^6h|^7h|^8h|^9h"
long_flights = "10h|11h|12h|13h|14h|15h|16h"

In [54]:
conditions = [
    (planes['Duration'].str.contains(short_flights)),
    (planes['Duration'].str.contains(medium_flights)),
    (planes['Duration'].str.contains(long_flights))
]

In [56]:
import numpy as np

In [60]:
planes['Duration Category'] = np.select(conditions, duration_category, default="Extreme duration")

In [61]:
planes.head()

,Unnamed: 0,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Duration Category
0,0,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882.0,Extreme duration
1,1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218.0,Medium
2,2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302.0,Short_haul
3,3,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,2h 25m,non-stop,No info,3873.0,Short_haul
4,4,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,15h 30m,1 stop,In-flight meal not included,11087.0,Long_haul

In [62]:
planes['Duration Category'].value_counts()

Duration Category
Short_haul          2995
Long_haul           1914
Extreme duration    1881
Medium              1718
Name: count, dtype: int64