
#  Dealing with missing data

##  Assignment 

It is important to deal with missing data before starting your analysis.

One approach is to drop missing values if they account for a small proportion, typically five percent, of your data.

Working with a dataset on plane ticket prices, stored as a pandas DataFrame called `planes`, you'll need to count the number of missing values across all columns, calculate five percent of all values, use this threshold to remove observations, and check how many missing values remain in the dataset.

##  Pre exercise code 

```
import pandas as pd

planes = pd.read_csv("https://assets.datacamp.com/production/repositories/6180/datasets/65bb8594cc06715617673622b9d694772ed8b31f/planes.csv")
```

In [1]:
import pandas as pd

planes = pd.read_csv("planes.csv")

In [2]:
planes.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
3,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873.0
4,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087.0

In [4]:
planes.shape

(10660, 11)

##  Instructions 

- Print the number of missing values in each column of the DataFrame.

In [3]:
planes.isna().sum()

Airline            427
Date_of_Journey    322
Source             187
Destination        347
Route              256
Dep_Time           260
Arrival_Time       194
Duration           214
Total_Stops        212
Additional_Info    589
Price              616
dtype: int64


- Calculate how many observations five percent of the `planes` DataFrame is equal to.

In [7]:
five_perc = 0.05 * len(planes)

In [8]:
five_perc

533.0

- Create `cols_to_drop` by applying boolean indexing to columns of the DataFrame with missing values less than or equal to the threshold. 
- Use this filter to remove missing values and save the updated DataFrame.

In [13]:
cols_to_drop = planes.columns[planes.isna().sum() <= five_perc]

In [16]:
planes.dropna(subset=cols_to_drop, inplace=True)

In [17]:
planes.isna().sum()

Airline              0
Date_of_Journey      0
Source               0
Destination          0
Route                0
Dep_Time             0
Arrival_Time         0
Duration             0
Total_Stops          0
Additional_Info    300
Price              368
dtype: int64

In [18]:
planes.shape

(8508, 11)