
#  Calculating relative errors

##  Assignment 

The size of the sample you take affects how accurately the point estimates reflect the corresponding population parameter. For example, when you calculate a sample mean, you want it to be close to the population mean. However, if your sample is too small, this might not be the case.

The most common metric for assessing accuracy is **relative error**. This is the absolute difference between the population parameter and the point estimate, all divided by the population parameter. It is sometimes expressed as a percentage.

`attrition_pop` and `mean_attrition_pop` (the mean of the `Attrition` column of `attrition_pop`) are available; `pandas` is loaded as `pd`.

##  Pre exercise code 

```
import pandas as pd
import numpy as np
attrition_pop = pd.read_feather(
  path = "/usr/local/share/datasets/attrition.feather"
)
mean_attrition_pop = attrition_pop['Attrition'].mean()
```

In [1]:
import pandas as pd
import numpy as np
attrition_pop = pd.read_feather(
  path = "attrition.feather"
)
mean_attrition_pop = attrition_pop['Attrition'].mean()

In [2]:
attrition_pop.head(1)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,21,0.0,Travel_Rarely,391,Research_Development,15,College,Life_Sciences,High,Male,...,Excellent,Very_High,0,0,6,Better,0,0,0,0

##  Instructions 

- Generate a simple random sample from `attrition_pop` of fifty rows, setting the seed to `2022`.
- Calculate the mean employee `Attrition` in the sample.
- Calculate the relative error between `mean_attrition_srs50` and `mean_attrition_pop` as a **percentage**.

In [4]:
attrition_srs = attrition_pop.sample(n=50, random_state=2022)

In [6]:
mean_srs = attrition_srs['Attrition'].mean()
mean_srs

0.06

In [7]:
stde_srs = 100 * (abs(mean_srs - mean_attrition_pop) / mean_attrition_pop)
stde_srs

62.78481012658228


- Calculate the **relative error percentage** again. This time, use a simple random sample of one hundred rows of `attrition_pop`.

In [10]:
attrition_srs_100 = attrition_pop.sample(n=100, random_state=2022)

In [12]:
mean_srs_100 = attrition_srs_100['Attrition'].mean()
mean_srs_100

0.15

In [13]:
stde_srs_100 = 100 * (abs(mean_srs_100 - mean_attrition_pop) / mean_attrition_pop)
stde_srs_100

6.962025316455694