
#  Updating data type to DateTime

##  Assignment 

Now, the `divorce` DataFrame has been loaded for you, but one column is stored as a string that should be DateTime data. Which one is it? Once you've identified the column, you'll update it so that you can explore it more closely in the next exercise.

`pandas` has been imported as `pd`.

##  Pre exercise code 

```
import pandas as pd
divorce = pd.read_csv("https://assets.datacamp.com/production/repositories/6180/datasets/a200990873d84f5beec93aab5fa0a9b8f93bd71a/divorce.csv", parse_dates=["divorce_date", "dob_man", "dob_woman"])
```

In [6]:
import pandas as pd
divorce = pd.read_csv("divorce.csv", parse_dates=["divorce_date", "dob_man", "dob_woman"])

##  Instructions 

- Convert the `marriage_date` column of the `divorce` DataFrame to `DateTime` values.

In [7]:
divorce.dtypes

divorce_date         datetime64[ns]
dob_man              datetime64[ns]
education_man                object
income_man                  float64
dob_woman            datetime64[ns]
education_woman              object
income_woman                float64
marriage_date                object
marriage_duration           float64
num_kids                    float64
dtype: object

In [8]:
divorce['marriage_date'] = pd.to_datetime(divorce['marriage_date'])

In [9]:
divorce.dtypes

divorce_date         datetime64[ns]
dob_man              datetime64[ns]
education_man                object
income_man                  float64
dob_woman            datetime64[ns]
education_woman              object
income_woman                float64
marriage_date        datetime64[ns]
marriage_duration           float64
num_kids                    float64
dtype: object