#  Wilcoxon signed-rank test

##  Assignment 

You'll explore the difference between the proportion of county-level votes for the Democratic candidate in 2012 and 2016 to identify if the difference is significant.

`sample_dem_data` is available, and has columns `dem_percent_12` and `dem_percent_16` in addition to `state` and `county` names. The following packages have also been loaded: `pingouin` and `pandas` as `pd`.

##  Pre exercise code 

```
import pandas as pd
import pingouin

sample_dem_data = pd.read_feather("/usr/local/share/datasets/dem_votes_potus_12_16.feather")
```

In [10]:
import pandas as pd
import pingouin

sample_dem_data = pd.read_feather("dem_votes_potus_12_16.feather")

In [11]:
sample_dem_data

       state       county  dem_percent_12  dem_percent_16
0    Alabama      Bullock       76.305900       74.946921
1    Alabama      Chilton       19.453671       15.847352
2    Alabama         Clay       26.673672       18.674517
3    Alabama      Cullman       14.661752       10.028252
4    Alabama     Escambia       36.915731       31.020546
..       ...          ...             ...             ...
495  Wyoming        Uinta       19.065464       14.191263
496  Wyoming     Washakie       20.131846       13.948610
497   Alaska   District 3       33.514582       16.301064
498   Alaska  District 18       61.284271       52.810051
499   Alaska  District 24       42.913980       39.405286

[500 rows x 4 columns]

##  Instructions 

- Conduct a paired t-test on the percentage columns using an appropriate alternative hypothesis.

In [14]:
pingouin.ttest(x=sample_dem_data['dem_percent_12'], y=sample_dem_data['dem_percent_16'], alternative='two-sided', paired=True)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,30.298384,499,two-sided,3.600634e-115,"[6.39, 7.27]",0.454202,2.246e+111,1.0

- Conduct a Wilcoxon-signed rank test on the same columns.

In [16]:
pingouin.wilcoxon(x=sample_dem_data['dem_percent_12'], y=sample_dem_data['dem_percent_16'], alternative='two-sided')

           W-val alternative         p-val       RBC      CLES
Wilcoxon  2401.0   two-sided  1.780396e-77  0.961661  0.644816