
#  Wilcoxon-Mann-Whitney

##  Assignment 

Another class of non-parametric hypothesis tests are called **rank sum tests**. Ranks are the positions of numeric values from smallest to largest. Think of them as positions in running events: whoever has the fastest (smallest) time is rank 1, second fastest is rank 2, and so on.

By calculating on the ranks of data instead of the actual values, you can avoid making assumptions about the distribution of the test statistic. It's more robust in the same way that a median is more robust than a mean.

One common rank-based test is the Wilcoxon-Mann-Whitney test, which is like a non-parametric t-test.

`late_shipments` is available, and the following packages have been loaded: `pingouin` and `pandas` as `pd`.

##  Pre exercise code 

```
import pingouin
import pandas as pd
late_shipments = pd.read_feather(
  path = "/usr/local/share/datasets/late_shipments.feather"
)
```



##  Instructions 

- Select `weight_kilograms` and `late` from `late_shipments`, assigning the name `weight_vs_late`.
- Convert `weight_vs_late` from long-to-wide format, setting `columns` to `'late'`.
- Run a Wilcoxon-Mann-Whitney test for a difference in `weight_kilograms` when the shipment was late and on-time.

In [17]:
import pingouin
import pandas as pd
late_shipments = pd.read_feather(
  path = "late_shipments.feather"
)

In [18]:
weight_vs_late = late_shipments[['weight_kilograms', 'late']]
weight_vs_late

     weight_kilograms late
0              1426.0  Yes
1                10.0   No
2              3723.0   No
3              7698.0   No
4                56.0   No
..                ...  ...
995              43.0   No
996              99.0   No
997             881.0  Yes
998           16234.0   No
999              46.0   No

[1000 rows x 2 columns]

In [23]:
weight_vs_late = weight_vs_late.pivot(columns='late', values='weight_kilograms')

In [24]:
pingouin.mwu(x=weight_vs_late['Yes'],
             y=weight_vs_late['No'],
             alternative='two-sided')

       U-val alternative     p-val       RBC      CLES
MWU  38145.0   two-sided  0.000014  0.331902  0.665951