
#  Conducting an ANOVA test

##  Assignment 

The box plots made it look like the distribution of pack price was different for each of the three shipment modes. However, it didn't tell us whether the mean pack price was different in each category. To determine that, we can use an ANOVA test. The null and alternative hypotheses can be written as follows.

\(H_{0}\): Pack prices for every category of shipment mode are the same.

\(H_{A}\): Pack prices for some categories of shipment mode are different.

Use a significance level of 0.1.

`late_shipments` is available and `pingouin` has been loaded.

##  Pre exercise code 

```
import pandas as pd
import pingouin
late_shipments = pd.read_feather("/usr/local/share/datasets/late_shipments.feather")
```

In [35]:
import pandas as pd
import pingouin
late_shipments = pd.read_feather("late_shipments.feather")

In [36]:
late_shipments.head(1)

,id,country,managed_by,fulfill_via,vendor_inco_term,shipment_mode,late_delivery,late,product_group,sub_classification,...,line_item_quantity,line_item_value,pack_price,unit_price,manufacturing_site,first_line_designation,weight_kilograms,freight_cost_usd,freight_cost_groups,line_item_insurance_usd
0,36203.0,Nigeria,PMO - US,Direct Drop,EXW,Air,1.0,Yes,HRDT,HIV test,...,2996.0,266644.0,89.0,0.89,"Alere Medical Co., Ltd.",Yes,1426.0,33279.83,expensive,373.83

##  Instructions 

- Run an ANOVA on `late_shipments` investigating `'pack_price'` (the dependent variable) between the groups of `'shipment_mode'`.

In [37]:
pingouin.anova(data=late_shipments,
               dv='pack_price',
               between='shipment_mode')

          Source  ddof1  ddof2        F         p-unc       np2
0  shipment_mode      2    997  21.8646  5.089479e-10  0.042018