#  Calculating on a pivot table


##  Assignment 

Pivot tables are filled with summary statistics, but they are only a first step to finding something insightful. Often you'll need to perform further calculations on them. A common thing to do is to find the rows or columns where the highest or lowest value occurs. 

Recall from Chapter 1 that you can easily subset a Series or DataFrame to find rows of interest using a logical condition inside of square brackets. For example: `series[series &gt; value]`.

##  Pre exercise code 

```
import pandas as pd
temperatures = pd.read_pickle("/usr/local/share/datasets/temperatures_no_unc.pkl")

temperatures["year"] = temperatures["date"].dt.year
temp_by_country_city_vs_year = temperatures.pivot_table("avg_temp_c", index = ["country", "city"], columns = "year")
```



##  Instructions 

- Calculate the mean temperature for each year, assigning to `mean_temp_by_year`.
- Filter `mean_temp_by_year` for the year that had the highest mean temperature.
- Calculate the mean temperature for each city (across columns), assigning to `mean_temp_by_city`.
- Filter `mean_temp_by_city` for the city that had the lowest mean temperature.

In [1]:
import pandas as pd

In [3]:
temps = pd.read_csv("temperatures.csv")

In [4]:
temps["date"] = pd.to_datetime(temps["date"])

In [5]:
temps["year"] = temps["date"].dt.year

In [6]:
temp_by_country_city_vs_year = temps.pivot_table("avg_temp_c", index=["country", "city"], columns="year")

In [7]:
mean_temp_by_year = temp_by_country_city_vs_year.mean()

In [8]:
mean_temp_by_year

year
2000    19.506243
2001    19.679352
2002    19.855685
2003    19.630197
2004    19.672204
2005    19.607239
2006    19.793993
2007    19.854270
2008    19.608778
2009    19.833752
2010    19.911734
2011    19.549197
2012    19.668239
2013    20.312285
dtype: float64

In [10]:
mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()]

year
2013    20.312285
dtype: float64

In [11]:
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns")

In [12]:
mean_temp_by_city

country        city
Afghanistan    Kabul               15.541955
Angola         Luanda              24.391616
Australia      Melbourne           14.275411
               Sydney              17.799250
Bangladesh     Dhaka               26.174440
                                     ...
United States  Chicago             11.330825
               Los Angeles         16.675399
               New York            10.911034
Vietnam        Ho Chi Minh City    27.922857
Zimbabwe       Harare              20.699000
Length: 100, dtype: float64

In [13]:
mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()]

country  city
China    Harbin    4.876551
dtype: float64