##  Assignment 

You've seen the four most common types of data manipulation: sorting rows, subsetting columns, subsetting rows, and adding new columns. In a real-life data analysis, you can mix and match these four manipulations to answer a multitude of questions.

In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new `pandas` skills to find out.

In [21]:
import pandas as pd

In [22]:
homelessness = pd.read_csv("homelessness.csv")

In [23]:
homelessness.head()

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

In [24]:
homelessness["ratio"] = homelessness["individuals"] / homelessness["state_pop"] * 100

In [25]:
homelessness["ratio"].describe()

count    51.000000
mean      0.104300
std       0.088298
min       0.034351
25%       0.060498
50%       0.071224
75%       0.099947
max       0.537384
Name: ratio, dtype: float64

In [26]:
mean_ratio = homelessness["ratio"].mean()

In [28]:
homelessness_gt_mean_ratio = homelessness[homelessness["ratio"] > mean_ratio].sort_values("ratio", ascending=False)

In [29]:
homelessness_gt_mean_ratio[["state", "ratio"]]

                   state     ratio
8   District of Columbia  0.537384
11                Hawaii  0.290794
4             California  0.276238
37                Oregon  0.266363
28                Nevada  0.233142
47            Washington  0.218292
32              New York  0.203924
1                 Alaska  0.195065
5               Colorado  0.133660
45               Vermont  0.124928
19                 Maine  0.108285