
#  Sampling deals

##  Assignment 

In the previous exercise, you counted the deals Amir worked on. Now it's time to randomly pick five deals so that you can reach out to each customer and ask if they were satisfied with the service they received. You'll try doing this both with and without replacement.

Additionally, you want to make sure this is done randomly and that it can be reproduced in case you get asked how you chose the deals, so you'll need to set the random seed before sampling from the deals.

In [15]:
import pandas as pd
import numpy as np

In [16]:
amir = pd.read_csv('amir_deals.csv')

##  Instructions 

- Set the random seed to `24`.
- Take a sample of `5` deals **without** replacement and store them as `sample_without_replacement`.

In [18]:
np.random.seed(24)

In [19]:
sample_wo_replace = amir.sample(5, replace=False)

In [20]:
sample_wo_replace

     Unnamed: 0    product   client status   amount  num_users
127         128  Product B  Current    Won  2070.25          7
148         149  Product D  Current    Won  3485.48         52
77           78  Product B  Current    Won  6252.30         27
104         105  Product D  Current    Won  4110.98         39
166         167  Product C      New   Lost  3779.86         11

- Take a sample of 5 deals **with** replacement and save as `sample_with_replacement`.

In [21]:
sample_w_replace = amir.sample(5, replace=True)

In [22]:
sample_w_replace

     Unnamed: 0    product   client status   amount  num_users
133         134  Product D  Current    Won  5992.86         98
101         102  Product H  Current    Won  5116.34         63
110         111  Product B  Current    Won   696.88         44
49           50  Product B  Current    Won  3488.36         79
56           57  Product D  Current    Won  6820.84         42