
#  Named aggregations

##  Assignment 

You've seen how `.groupby()` and `.agg()` can be combined to show summaries across categories. Sometimes, it's helpful to name new columns when aggregating so that it's clear in the code output what aggregations are being applied and where.

Your task is to create a DataFrame called `continent_summary` which shows a row for each continent. The DataFrame columns will contain the mean unemployment rate for each continent in 2021 as well as the standard deviation of the 2021 employment rate. And of course, you'll rename the columns so that their contents are clear!

The `unemployment` DataFrame is available, and `pandas` has been imported as `pd`.

##  Pre exercise code 

```
import pandas as pd
unemployment = pd.read_csv("https://assets.datacamp.com/production/repositories/6180/datasets/a7e05e14dfd1aa575314dd9a0d8df74a14341c4e/clean_unemployment.csv")
```



##  Instructions 

- Create a column called `mean_rate_2021` which shows the mean 2021 unemployment rate for each continent.
- Create a column called `std_rate_2021` which shows the standard deviation of the 2021 unemployment rate for each continent.

In [68]:
import pandas as pd
unemployment = pd.read_csv("clean_unemployment.csv")

In [69]:
unemployment.head(1)

,country_code,country_name,continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,Asia,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28

In [73]:
unemployment.groupby('continent')['2021'].mean()

continent
Africa           10.473585
Asia              6.906170
Europe            7.414872
North America     9.155000
Oceania           4.280000
South America     9.924167
Name: 2021, dtype: float64

In [75]:
unemployment.groupby("continent").agg(
    mean_rate_2021=("2021", "mean"),
    std_rate_2021=("2021", "std")
)

               mean_rate_2021  std_rate_2021
continent
Africa              10.473585       8.131636
Asia                 6.906170       5.414745
Europe               7.414872       3.947825
North America        9.155000       5.076482
Oceania              4.280000       2.671522
South America        9.924167       3.611624