
#  Detecting data types

##  Assignment 

A column has been changed in the `unemployment` DataFrame and it now has the wrong data type! This data type will stop you from performing effective exploration and analysis, so your task is to identify which column has the wrong data type and then fix it.

`pandas` has been imported as `pd`; `unemployment` is also available.

##  Pre exercise code 

```
import pandas as pd
unemployment = pd.read_csv("https://assets.datacamp.com/production/repositories/6180/datasets/a7e05e14dfd1aa575314dd9a0d8df74a14341c4e/clean_unemployment.csv")
# Change one numerical column to string
unemployment["2019"] = unemployment["2019"].astype(str)
```

In [26]:
import pandas as pd
unemployment = pd.read_csv("clean_unemployment.csv")
# Change one numerical column to string
unemployment["2019"] = unemployment["2019"].astype(str)

In [27]:
unemployment.head(1)

,country_code,country_name,continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,Asia,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28

In [28]:
unemployment.dtypes

country_code     object
country_name     object
continent        object
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019             object
2020            float64
2021            float64
dtype: object

##  Instructions 

- Update the data type of the `2019` column of `unemployment` to `float`.
- Print the `dtypes` of the `unemployment` DataFrame again to check that the data type has been updated!

In [31]:
unemployment['2019'] = unemployment['2019'].astype('float')

In [32]:
unemployment.dtypes

country_code     object
country_name     object
continent        object
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object