
#  Mean and median


##  Assignment 

In this chapter, you'll be working with the [2018 Food Carbon Footprint Index](https://www.nu3.de/blogs/nutrition/food-carbon-footprint-index-2018) from nu3. The `food_consumption` dataset contains information about the kilograms of food consumed per person per year in each country in each food category (`consumption`) as well as information about the carbon footprint of that food category (`co2_emissions`) measured in kilograms of carbon dioxide, or CO<sub>2</sub>, per person per year in each country.

In this exercise, you'll compute measures of center to compare food consumption in the US and Belgium using your `pandas` and `numpy` skills. 

`pandas` is imported as `pd` for you and `food_consumption` is pre-loaded.

##  Pre exercise code 

```
import pandas as pd
food_consumption = pd.read_csv('https://assets.datacamp.com/production/repositories/5786/datasets/49f6356966016c70a9f63a0474942675377bdcf2/food_consumption.csv')
```

In [2]:
import pandas as pd
food_consumption = pd.read_csv('food_consumption.csv')

In [4]:
food_consumption.head(1)

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51          37.2

##  Instructions 

- Import `numpy` with the alias `np`.
- Create two DataFrames: one that holds the rows of `food_consumption` for `'Belgium'` and another that holds rows for `'USA'`. Call these `be_consumption` and `usa_consumption`.
- Calculate the mean and median of kilograms of food consumed per person per year for both countries.

In [5]:
import numpy as np

In [6]:
be_consumption = food_consumption.query('country == "Belgium"')
usa_consumption = food_consumption.query('country == "USA"')

In [8]:
be_consumption['consumption'].agg(['mean', 'median'])

mean      42.132727
median    12.590000
Name: consumption, dtype: float64

In [9]:
usa_consumption['consumption'].agg(['mean', 'median'])

mean      44.65
median    14.58
Name: consumption, dtype: float64

- Subset `food_consumption` for rows with data about Belgium and the USA.
- Group the subsetted data by `country` and select only the `consumption` column.
- Calculate the mean and median of the kilograms of food consumed per person per year in each country using `.agg()`.

In [11]:
be_usa = food_consumption.query('(country == "Belgium") or (country == "USA")')

In [12]:
be_usa.groupby('country')['consumption'].agg(['mean', 'median'])

              mean  median
country
Belgium  42.132727   12.59
USA      44.650000   14.58