
#  merge_ordered() caution, multiple columns

##  Assignment 

When using `merge_ordered()` to merge on multiple columns, the order is important when you combine it with the forward fill feature. The function sorts the merge on columns in the order provided. In this exercise, we will merge GDP and population data from the World Bank for the Australia and Sweden, reversing the order of the merge on columns. The frequency of the series are different, the GDP values are quarterly, and the population is yearly. Use the forward fill feature to fill in the missing data. Depending on the order provided, the fill forward will use unintended data to fill in the missing values. 

The tables `gdp` and `pop` have been loaded.

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_pop = 'https://assets.datacamp.com/production/repositories/5486/datasets/9286ce7e626920e0494a752892d88f4ce2f30f94/pop_by_country_aus_and_swe.p'
fn_gdp = 'https://assets.datacamp.com/production/repositories/5486/datasets/418d801711e7703d89cf16d007f0af25a9d7f343/quarterly_gdp_by_country_aus_and_swe.p'

gdp = load(urllib.request.urlopen(fn_gdp))
pop = load(urllib.request.urlopen(fn_pop))
```

In [23]:
from pickle import load
import urllib.request
import pandas as pd

fn_pop = 'https://assets.datacamp.com/production/repositories/5486/datasets/9286ce7e626920e0494a752892d88f4ce2f30f94/pop_by_country_aus_and_swe.p'
fn_gdp = 'https://assets.datacamp.com/production/repositories/5486/datasets/418d801711e7703d89cf16d007f0af25a9d7f343/quarterly_gdp_by_country_aus_and_swe.p'

gdp = load(urllib.request.urlopen(fn_gdp))
pop = load(urllib.request.urlopen(fn_pop))

In [24]:
gdp.head(1)

        date    country          gdp    series_code
0 1990-01-01  Australia  158051.1324  NYGDPMKTPSAKD

In [25]:
pop.head(1)

        date    country       pop  series_code
0 1990-01-01  Australia  17065100  SP.POP.TOTL

##  Instructions 

- Use `merge_ordered()` on `gdp` and `pop`, merging on columns `date` and `country` with the fill feature, save to `ctry_date`.

In [26]:
ctry_date = pd.merge_ordered(gdp, pop, on=["date", "country"], fill_method="ffill")

In [27]:
ctry_date.head()

        date    country           gdp  series_code_x       pop series_code_y
0 1990-01-01  Australia  158051.13240  NYGDPMKTPSAKD  17065100   SP.POP.TOTL
1 1990-01-01     Sweden   79837.84599  NYGDPMKTPSAKD   8558835   SP.POP.TOTL
2 1990-04-01  Australia  158263.58160  NYGDPMKTPSAKD   8558835   SP.POP.TOTL
3 1990-04-01     Sweden   80582.28597  NYGDPMKTPSAKD   8558835   SP.POP.TOTL
4 1990-07-01  Australia  157329.27900  NYGDPMKTPSAKD   8558835   SP.POP.TOTL

- Perform the same merge of `gdp` and `pop`, but join on `country` and `date` (**reverse of step 1**) with the fill feature, saving this as `date_ctry`.

In [28]:
date_ctry = pd.merge_ordered(gdp, pop, on=["country", "date"], fill_method="ffill")

In [29]:
date_ctry.head()

        date    country          gdp  series_code_x       pop series_code_y
0 1990-01-01  Australia  158051.1324  NYGDPMKTPSAKD  17065100   SP.POP.TOTL
1 1990-04-01  Australia  158263.5816  NYGDPMKTPSAKD  17065100   SP.POP.TOTL
2 1990-07-01  Australia  157329.2790  NYGDPMKTPSAKD  17065100   SP.POP.TOTL
3 1990-09-01  Australia  158240.6781  NYGDPMKTPSAKD  17065100   SP.POP.TOTL
4 1991-01-01  Australia  156195.9535  NYGDPMKTPSAKD  17284000   SP.POP.TOTL