
#  Select the right .melt() arguments

##  Assignment 

You are given a table named `inflation`. Chose the option to get the ****same**** output as the table below.

```
   country    indicator  year  annual
0   Brazil  Inflation %  2017    3.45
1   Canada  Inflation %  2017    1.60
2   France  Inflation %  2017    1.03
3    India  Inflation %  2017    2.49
4   Brazil  Inflation %  2018    3.66
5   Canada  Inflation %  2018    2.27
6   France  Inflation %  2018    1.85
7    India  Inflation %  2018    4.86
8   Brazil  Inflation %  2019    3.73
9   Canada  Inflation %  2019    1.95
10  France  Inflation %  2019    1.11
11   India  Inflation %  2019    7.66

```

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_inf = 'https://assets.datacamp.com/production/repositories/5486/datasets/c617a50d6268409c8201f83846633b74c1f0fa3f/world_bank_inflation_data.p'

inflation = load(urllib.request.urlopen(fn_inf))
```

In [90]:
from pickle import load
import urllib.request
import pandas as pd

inflation = pd.read_pickle("world_bank_inflation_data.p")

In [92]:
inflation

  country    indicator  2017  2018  2019
0  Brazil  Inflation %  3.45  3.66  3.73
1  Canada  Inflation %  1.60  2.27  1.95
2  France  Inflation %  1.03  1.85  1.11
3   India  Inflation %  2.49  4.86  7.66

In [95]:
inflation.melt(id_vars=['country', 'indicator'],
               var_name='year',
               value_name='annual')

   country    indicator  year  annual
0   Brazil  Inflation %  2017    3.45
1   Canada  Inflation %  2017    1.60
2   France  Inflation %  2017    1.03
3    India  Inflation %  2017    2.49
4   Brazil  Inflation %  2018    3.66
5   Canada  Inflation %  2018    2.27
6   France  Inflation %  2018    1.85
7    India  Inflation %  2018    4.86
8   Brazil  Inflation %  2019    3.73
9   Canada  Inflation %  2019    1.95
10  France  Inflation %  2019    1.11
11   India  Inflation %  2019    7.66