
#  Correlation between GDP and S&P500

##  Assignment 

In this exercise, you want to analyze stock returns from the S&amp;P 500. You believe there may be a relationship between the returns of the S&amp;P 500 and the GDP of the US. Merge the different datasets together to compute the correlation.

Two tables have been provided for you, named `sp500`, and `gdp`. As always, `pandas` has been imported for you as `pd`.

##  Pre exercise code 

```
import pandas as pd
sp500 = pd.read_csv('https://assets.datacamp.com/production/repositories/5486/datasets/6666955f71f936ab5fc3b0ee1eb595e19c126c01/S&P500.csv')
sp500 = sp500.rename({'Date':'date','Returns':'returns'}, axis=1)
gdp = pd.read_csv('https://assets.datacamp.com/production/repositories/5486/datasets/6ef405912a3801f3ae59d2dd57573f80d598c1fb/WorldBank_GDP.csv')
gdp = (gdp.loc[gdp['Country Name']=='United States',
              ['Country Code','Year','GDP']]
       .rename({'Country Code':'country code','Year':'year','GDP':'gdp'}, axis=1))
```

In [2]:
import pandas as pd
sp500 = pd.read_csv('S&P500.csv')
sp500 = sp500.rename({'Date':'date','Returns':'returns'}, axis=1)
gdp = pd.read_csv('WorldBank_GDP.csv')
gdp = (gdp.loc[gdp['Country Name']=='United States',
              ['Country Code','Year','GDP']]
       .rename({'Country Code':'country code','Year':'year','GDP':'gdp'}, axis=1))

In [3]:
sp500.head(1)

   date  returns
0  2008   -38.49

In [4]:
gdp.head(1)

  country code  year           gdp
3          USA  2010  1.499210e+13

##  Instructions 

- Use `merge_ordered()` to merge `gdp` and `sp500` using a left join on `year` and `date`. Save the results as `gdp_sp500`.
- Print `gdp_sp500` and look at the returns for the year 2018.

In [6]:
gdp_sp500 = pd.merge_ordered(gdp, sp500, left_on="year", right_on="date", how="left")

In [8]:
gdp_sp500.head(1)

  country code  year           gdp    date  returns
0          USA  2010  1.499210e+13  2010.0    12.78

In [9]:
gdp_sp500[gdp_sp500["year"] == 2018]

  country code  year           gdp  date  returns
9          USA  2018  2.049410e+13   NaN      NaN

- Use `merge_ordered()`, again similar to before, to merge `gdp` and `sp500` use the function's ability to interpolate missing data to forward fill the missing value for returns, assigning this table to the variable `gdp_sp500`.

In [10]:
gdp_sp500 = pd.merge_ordered(gdp, sp500, left_on="year", right_on="date", how="left", fill_method='ffill')

In [11]:
gdp_sp500

  country code  year           gdp  date  returns
0          USA  2010  1.499210e+13  2010    12.78
1          USA  2011  1.554260e+13  2011     0.00
2          USA  2012  1.619700e+13  2012    13.41
3          USA  2012  1.619700e+13  2012    13.41
4          USA  2013  1.678480e+13  2013    29.60
5          USA  2014  1.752170e+13  2014    11.39
6          USA  2015  1.821930e+13  2015    -0.73
7          USA  2016  1.870720e+13  2016     9.54
8          USA  2017  1.948540e+13  2017    19.42
9          USA  2018  2.049410e+13  2017    19.42

- Subset the `gdp_sp500` table, select the `gdp` and `returns` columns, and save as `gdp_returns`.
- Print the correlation matrix of the `gdp_returns` table using the `.corr()` method.

In [12]:
gdp_returns = gdp_sp500[["gdp", "returns"]]

In [13]:
gdp_returns

            gdp  returns
0  1.499210e+13    12.78
1  1.554260e+13     0.00
2  1.619700e+13    13.41
3  1.619700e+13    13.41
4  1.678480e+13    29.60
5  1.752170e+13    11.39
6  1.821930e+13    -0.73
7  1.870720e+13     9.54
8  1.948540e+13    19.42
9  2.049410e+13    19.42

In [14]:
gdp_returns.corr()

              gdp   returns
gdp      1.000000  0.212173
returns  0.212173  1.000000