#  Your first inner join

##  Assignment 

You have been tasked with figuring out what the most popular types of fuel used in Chicago taxis are. To complete the analysis, you need to merge the `taxi_owners` and `taxi_veh` tables together on the `vid` column. You can then use the merged table along with the `.value_counts()` method to find the most common `fuel_type`.

Since you'll be working with `pandas` throughout the course, the package will be preloaded for you as `pd` in each exercise in this course. Also the `taxi_owners` and `taxi_veh` DataFrames are loaded for you.

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_owner = 'https://assets.datacamp.com/production/repositories/5486/datasets/553cc8938e07068079df6215e5fcc8dbcd97b5ee/taxi_owners.p'
fn_veh = 'https://assets.datacamp.com/production/repositories/5486/datasets/fe902298c39602e2ed571c23351571c779838858/taxi_vehicles.p'

taxi_owners = load(urllib.request.urlopen(fn_owner))
taxi_veh = load(urllib.request.urlopen(fn_veh))

In [1]:
from pickle import load
import urllib.request
import pandas as pd

In [2]:
fn_owner = 'https://assets.datacamp.com/production/repositories/5486/datasets/553cc8938e07068079df6215e5fcc8dbcd97b5ee/taxi_owners.p'
fn_veh = 'https://assets.datacamp.com/production/repositories/5486/datasets/fe902298c39602e2ed571c23351571c779838858/taxi_vehicles.p'

taxi_owners = load(urllib.request.urlopen(fn_owner))
taxi_veh = load(urllib.request.urlopen(fn_veh))

##  Instructions 

- Merge `taxi_owners` with `taxi_veh` on the column `vid`, and save the result to `taxi_own_veh`.

In [3]:
taxi_own_veh = taxi_owners.merge(taxi_veh, on="vid")

In [4]:
taxi_own_veh.head()

,rid,vid,owner_x,address,zip,make,model,year,fuel_type,owner_y
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.

- Set the left and right table suffixes for overlapping columns of the merge to `_own` and `_veh`, respectively.

In [5]:
taxi_own_veh = taxi_owners.merge(taxi_veh, on="vid", suffixes=["_own", "_veh"])

In [6]:
taxi_own_veh.head()

,rid,vid,owner_own,address,zip,make,model,year,fuel_type,owner_veh
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.


- Select the `fuel_type` column from `taxi_own_veh` and print the `value_counts()` to find the most popular `fuel_type`s used.

In [7]:
taxi_own_veh["fuel_type"].value_counts()

fuel_type
HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: count, dtype: int64