#  One-to-many merge

##  Assignment 

A business may have one or multiple owners. In this exercise, you will continue to gain experience with one-to-many merges by merging a table of business owners, called `biz_owners`, to the `licenses` table. Recall from the video lesson, with a one-to-many relationship, a row in the left table may be repeated if it is related to multiple rows in the right table. In this lesson, you will explore this further by finding out what is the most common business owner title. (i.e., secretary, CEO, or vice president)

The `licenses` and `biz_owners` DataFrames are loaded for you.

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_lic = 'https://assets.datacamp.com/production/repositories/5486/datasets/2a4d8e5d91f6f2b41477fa6ea81da91e4f09305e/licenses.p'
fn_own = 'https://assets.datacamp.com/production/repositories/5486/datasets/fc3c75b236ed090f487b044603c0f7ff6825d911/business_owners.p'
licenses = load(urllib.request.urlopen(fn_lic))
biz_owners = load(urllib.request.urlopen(fn_own))
```



##  Instructions 

- Starting with the `licenses` table on the left, merge it to the `biz_owners` table on the column `account`, and save the results to a variable named `licenses_owners`.
- Group `licenses_owners` by `title` and count the number of accounts for each title. Save the result as `counted_df`
- Sort `counted_df` by the number of **accounts** in **descending order**, and save this as a variable named `sorted_df`.
- Use the `.head()` method to print the first few rows of the `sorted_df`.

In [1]:
from pickle import load
import urllib.request
import pandas as pd

In [2]:
fn_lic = 'https://assets.datacamp.com/production/repositories/5486/datasets/2a4d8e5d91f6f2b41477fa6ea81da91e4f09305e/licenses.p'
fn_own = 'https://assets.datacamp.com/production/repositories/5486/datasets/fc3c75b236ed090f487b044603c0f7ff6825d911/business_owners.p'
licenses = load(urllib.request.urlopen(fn_lic))
biz_owners = load(urllib.request.urlopen(fn_own))

In [3]:
licenses_owners = licenses.merge(biz_owners, on="account")

In [6]:
licenses_owners.head()

,account,ward,aid,business,address,zip,first_name,last_name,title
0,307071,3,743,REGGIE'S BAR & GRILL,2105 S STATE ST,60616,ROBERT,GLICK,MEMBER
1,10,10,829,HONEYBEERS,13200 S HOUSTON AVE,60633,PEARL,SHERMAN,PRESIDENT
2,10,10,829,HONEYBEERS,13200 S HOUSTON AVE,60633,PEARL,SHERMAN,SECRETARY
3,10002,14,775,CELINA DELI,5089 S ARCHER AVE,60632,WALTER,MROZEK,PARTNER
4,10002,14,775,CELINA DELI,5089 S ARCHER AVE,60632,CELINA,BYRDAK,PARTNER

In [23]:
counted_df = licenses_owners.groupby("title")["account"].count()

In [26]:
counted_df.head()

title
ASST. SECRETARY       111
BENEFICIARY             4
CEO                   110
DIRECTOR              146
EXECUTIVE DIRECTOR     10
Name: account, dtype: int64

In [25]:
sorted_df = counted_df.sort_values(ascending=False)

In [27]:
sorted_df.head()

title
PRESIDENT          6259
SECRETARY          5205
SOLE PROPRIETOR    1658
OTHER              1200
VICE PRESIDENT      970
Name: account, dtype: int64