#  Three table merge

##  Assignment 

To solidify the concept of a three DataFrame merge, practice another exercise. A reasonable extension of our review of Chicago business data would include looking at demographics information about the neighborhoods where the businesses are. A table with the median income by zip code has been provided to you. You will merge the `licenses` and `wards` tables with this new income-by-zip-code table called `zip_demo`.

The `licenses`, `wards`, and `zip_demo` DataFrames have been loaded for you.

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_lic = 'https://assets.datacamp.com/production/repositories/5486/datasets/2a4d8e5d91f6f2b41477fa6ea81da91e4f09305e/licenses.p'
fn_zip = 'https://assets.datacamp.com/production/repositories/5486/datasets/293c2b89092f6bcdb97d4d9e971c08183f09c30b/zip_demo.p'
fn_war = 'https://assets.datacamp.com/production/repositories/5486/datasets/87c16fd85c435ea10221932ebab27ffb6b232c74/ward.p'
licenses = load(urllib.request.urlopen(fn_lic))
zip_demo = load(urllib.request.urlopen(fn_zip))
wards = load(urllib.request.urlopen(fn_war))
```



##  Instructions 

- Starting with the `licenses` table, merge to it the `zip_demo` table on the `zip` column. Then merge the resulting table to the `wards` table on the `ward` column. Save result of the three merged tables to a variable named `licenses_zip_ward`.
- Group the results of the three merged tables by the column `alderman` and find the median `income`.

In [1]:
from pickle import load
import urllib.request
import pandas as pd

In [2]:
fn_lic = 'https://assets.datacamp.com/production/repositories/5486/datasets/2a4d8e5d91f6f2b41477fa6ea81da91e4f09305e/licenses.p'
fn_zip = 'https://assets.datacamp.com/production/repositories/5486/datasets/293c2b89092f6bcdb97d4d9e971c08183f09c30b/zip_demo.p'
fn_war = 'https://assets.datacamp.com/production/repositories/5486/datasets/87c16fd85c435ea10221932ebab27ffb6b232c74/ward.p'
licenses = load(urllib.request.urlopen(fn_lic))
zip_demo = load(urllib.request.urlopen(fn_zip))
wards = load(urllib.request.urlopen(fn_war))

In [3]:
licenses.head(1)

  account ward  aid              business          address    zip
0  307071    3  743  REGGIE'S BAR & GRILL  2105 S STATE ST  60616

In [4]:
zip_demo.head(1)

     zip  income
0  60630   70122

In [5]:
wards.head(1)

  ward            alderman                    address    zip
0    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647

In [6]:
licneses_zip_ward = licenses.merge(zip_demo, on="zip").merge(wards, on="ward")

In [7]:
licneses_zip_ward.head()

,account,ward,aid,business,address_x,zip_x,income,alderman,address_y,zip_y
0,307071,3,743,REGGIE'S BAR & GRILL,2105 S STATE ST,60616,46340,Pat Dowell,5046 SOUTH STATE STREET,60609
1,10,10,829,HONEYBEERS,13200 S HOUSTON AVE,60633,50164,Susan Sadlowski Garza,10500 SOUTH EWING AVENUE,60617
2,10002,14,775,CELINA DELI,5089 S ARCHER AVE,60632,42335,Edward M. Burke,2650 WEST 51ST STREET,60632
3,10005,12,NaN,KRAFT FOODS NORTH AMERICA,2005 W 43RD ST,60609,33959,George Cardenas,3476 SOUTH ARCHER AVENUE,60608
4,10044,44,638,NEYBOUR'S TAVERN & GRILLE,3651 N SOUTHPORT AVE,60613,79565,Tom Tunney,3223 NORTH SHEFFIELD AVENUE,60657

In [8]:
licneses_zip_ward.groupby("alderman")["income"].median()

alderman
Ameya Pawar                   66246.0
Anthony A. Beale              38206.0
Anthony V. Napolitano         82226.0
Ariel E. Reyboras             41307.0
Brendan Reilly               110215.0
Brian Hopkins                 87143.0
Carlos Ramirez-Rosa           66246.0
Carrie M. Austin              38206.0
Chris Taliaferro              55566.0
Daniel "Danny" Solis          41226.0
David H. Moore                33304.0
Deborah Mell                  66246.0
Debra L. Silverstein          50554.0
Derrick G. Curtis             65770.0
Edward M. Burke               42335.0
Emma M. Mitts                 36283.0
George Cardenas               33959.0
Gilbert Villegas              41307.0
Gregory I. Mitchell           24941.0
Harry Osterman                45442.0
Howard B. Brookins, Jr.       33304.0
James Cappleman               79565.0
Jason C. Ervin                41226.0
Joe Moore                     39163.0
John S. Arena                 70122.0
Leslie A. Hairston            28024.0
Margaret Laurino              70122.0
Marty Quinn                   67045.0
Matthew J. O'Shea             59488.0
Michael R. Zalewski           42335.0
Michael Scott, Jr.            31445.0
Michelle A. Harris            32558.0
Michelle Smith               100116.0
Milagros "Milly" Santiago     41307.0
Nicholas Sposato              62223.0
Pat Dowell                    46340.0
Patrick Daley Thompson        41226.0
Patrick J. O'Connor           50554.0
Proco "Joe" Moreno            87143.0
Raymond A. Lopez              33959.0
Ricardo Munoz                 31445.0
Roberto Maldonado             68223.0
Roderick T. Sawyer            32558.0
Scott Waguespack              68223.0
Susan Sadlowski Garza         38417.0
Tom Tunney                    88708.0
Toni L. Foulkes               27573.0
Walter Burnett, Jr.           87143.0
William D. Burns             107811.0
Willie B. Cochran             28024.0
Name: income, dtype: float64