#  Total riders in a month

##  Assignment 

Your goal is to find the total number of rides provided to passengers passing through the Wilson station (`station_name == 'Wilson'`) when riding Chicago's public transportation system on weekdays (`day_type == 'Weekday'`) in July (`month == 7`). Luckily, Chicago provides this detailed data, but it is in three different tables. You will work on merging these tables together to answer the question. This data is different from the business related data you have seen so far, but all the information you need to answer the question is provided.

The `cal`, `ridership`, and `stations` DataFrames have been loaded for you. The relationship between the tables can be seen in the diagram below.

<img src="https://assets.datacamp.com/production/repositories/5486/datasets/56b5ecb2edcdc896c69effdf05ef65e5454ff996/cta_L_diagram.png" alt="Table diagram. The cal table relates to ridership via year, month, and day. The ridership table relates to the stations table via station_id.">

##  Pre exercise code 

```
from pickle import load
import urllib.request
import pandas as pd

fn_station = 'https://assets.datacamp.com/production/repositories/5486/datasets/369630192d0a25d3f20417eaa3101e7c8bf0588f/stations.p'
fn_rider = 'https://assets.datacamp.com/production/repositories/5486/datasets/959c2b739879663c56ecd96c0013a1407c57684c/cta_ridership.p'
fn_cal = 'https://assets.datacamp.com/production/repositories/5486/datasets/1ea02e46369e0e2a33942afb4b1c2dafcb37dd2c/cta_calendar.p'
stations = load(urllib.request.urlopen(fn_station))
ridership = load(urllib.request.urlopen(fn_rider))
cal = load(urllib.request.urlopen(fn_cal))
```

In [10]:
from pickle import load
import urllib.request
import pandas as pd

In [19]:
# fn_station = 'https://assets.datacamp.com/production/repositories/5486/datasets/369630192d0a25d3f20417eaa3101e7c8bf0588f/stations.p'
fn_rider = 'https://assets.datacamp.com/production/repositories/5486/datasets/959c2b739879663c56ecd96c0013a1407c57684c/cta_ridership.p'
fn_cal = 'https://assets.datacamp.com/production/repositories/5486/datasets/1ea02e46369e0e2a33942afb4b1c2dafcb37dd2c/cta_calendar.p'
# stations = load(urllib.request.urlopen(fn_station))
stations = pd.read_pickle("stations.p")
ridership = load(urllib.request.urlopen(fn_rider))
cal = load(urllib.request.urlopen(fn_cal))

In [22]:
stations.head(1)

  station_id        station_name                 location
0      40010  Austin-Forest Park  (41.870851, -87.776812)

In [23]:
ridership.head(1)

  station_id  year  month  day  rides
0      40010  2019      1    1    576

In [24]:
cal.head(1)

   year  month  day        day_type
0  2019      1    1  Sunday/Holiday

##  Instructions 

- Merge the `ridership` and `cal` tables together, starting with the `ridership` table on the left and save the result to the variable `ridership_cal`. If you code takes too long to run, your merge conditions might be incorrect.

In [25]:
ridership_cal = ridership.merge(cal, on=["year", "month", "day"])

In [26]:
ridership_cal.head()

  station_id  year  month  day  rides        day_type
0      40010  2019      1    1    576  Sunday/Holiday
1      40010  2019      1    2   1457         Weekday
2      40010  2019      1    3   1543         Weekday
3      40010  2019      1    4   1621         Weekday
4      40010  2019      1    5    719        Saturday

- Extend the previous merge to three tables by also merging the `stations` table.

In [29]:
rid_cal_sta = ridership.merge(cal, on=["year", "month", "day"]).merge(stations, on="station_id")

In [30]:
rid_cal_sta.head()

,station_id,year,month,day,rides,day_type,station_name,location
0,40010,2019,1,1,576,Sunday/Holiday,Austin-Forest Park,"(41.870851, -87.776812)"
1,40010,2019,1,2,1457,Weekday,Austin-Forest Park,"(41.870851, -87.776812)"
2,40010,2019,1,3,1543,Weekday,Austin-Forest Park,"(41.870851, -87.776812)"
3,40010,2019,1,4,1621,Weekday,Austin-Forest Park,"(41.870851, -87.776812)"
4,40010,2019,1,5,719,Saturday,Austin-Forest Park,"(41.870851, -87.776812)"


- Create a variable called `filter_criteria` to select the appropriate rows from the merged table so that you can sum the `rides` column.

In [34]:
filter_criteria = ((rid_cal_sta["month"] == 7) 
                   & (rid_cal_sta["day_type"] == "Weekday") 
                   & (rid_cal_sta["station_name"] == "Wilson"))

In [35]:
rid_cal_sta[filter_criteria].head()

,station_id,year,month,day,rides,day_type,station_name,location
1641,40540,2019,7,1,6464,Weekday,Wilson,"(41.964273, -87.657588)"
1642,40540,2019,7,2,6491,Weekday,Wilson,"(41.964273, -87.657588)"
1643,40540,2019,7,3,6639,Weekday,Wilson,"(41.964273, -87.657588)"
1645,40540,2019,7,5,4794,Weekday,Wilson,"(41.964273, -87.657588)"
1648,40540,2019,7,8,6351,Weekday,Wilson,"(41.964273, -87.657588)"

In [36]:
rid_cal_sta[filter_criteria]["rides"].sum()

140005